{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <style>
        .nav-wrapper {
            padding-top: 5rem; /* Ajuster selon la hauteur de votre barre de navigation */
        }
    </style>

    <title>{{ product.name }}</title>
</head>
<body class="bg-gray-100">
    {% include 'navbar.html' %}
    <div class="nav-wrapper">
        <div class="container mx-auto my-8">
            <div class="flex">
                <div class="w-1/2">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-auto rounded">
                    {% else %}
                        <img src="{% static 'images/no_image.jpg' %}" alt="Product Image" class="w-full h-auto rounded">
                    {% endif %}
                    
                </div>
                <div class="w-1/2 pl-8">
                    <h1 class="text-3xl font-semibold mb-6">{{ product.name }}</h1>
                    <p class="text-lg mb-4">{{ product.description }}</p>
                    <p class="text-xl font-bold mb-4">{{ product.price|format_price }}</p>
                    {% if product.color %}
                        <p class="block mb-2">{{ product.color }}</p>
                    {% endif %}

                    <form method="POST" action="{% url 'add_to_cart' category product.id %}">
                        {% csrf_token %}
                        <label for="quantity" class="block mb-2">Quantité :</label>
                        <input type="number" id="quantity" name="quantity" value="1" min="1" class="border p-2 w-full mb-4">
                        <button type="submit" class="bg-red-700 text-white px-4 py-2 rounded hover:bg-green-600">Réserver</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
